<script>
var idcomments_acct = 'b39d1a0e23acbf0536df77df1066f10c';
var idcomments_post_id;
var idcomments_post_url;
</script>

<span id="IDCommentsPostTitle" style="display:none"></span>
<script type='text/javascript' src='http://www.intensedebate.com/js/genericCommentWrapperV2.js'></script>